/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------- General - Styles-------------------- */
html {
  font-size: 16px;
}

body {
  font-family:'Roboto';
  font-size: 1em;
  background-color:#080505;
}  

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f8f4e3;
  font-weight: 700;
}

h1 {
  font-family: 'Lato';
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  font-size: 1.43em;
  font-weight: 500;
  color: #e2a850; 
}

h3,
h4 {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 1.4px;
}

p {
  font-size: .875em;
  line-height: 1.25em;
  color:#f8f4e3;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

/* -------------------- Base - Styles-------------------- */
.content-wrapper {
  width: 90%;
  margin: 0 0 50px;
}

/* ----------------- Base - Header-Hero-Footer - Styles-------------------- */

header {
  width: 100%;
  flex-flow: row wrap;
  background-color:#080505;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  margin: 10px 0;
}

.nav-bar li {
  padding: 10px;
}

main {
  background-color: #2f2f33;
}

/*about me and projects box*/
.svg-box {
  margin: 50px 0;
  outline: 4px solid #011312;
  outline-offset: 4px;
  background: none;
}

.svg-text {
  text-transform: uppercase;
}


/*---footer---*/
footer {
  background-image: url(../img/waves-separator.svg);
  background-color: #2f2f33;
  /*min-height: 250px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  flex-direction: column;
}

footer h2 {
  margin: 30px 0 10px;
}

footer p {
  margin: 0;
  color: #f8f4e3;;
}

footer .content-wrapper {
  width: 55%;
}

footer .connect {
  margin: 30px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-content: center;
  /*flex-direction: row;*/
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #f8f4e3;;
  overflow: hidden;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
}

footer .social-media p i {
  font-size: 1em;
}

footer .attribution {
  font-size: .565em;
  margin: 115px 0 0;
}

/*----Hero-Section----*/
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url('../img/hero-mobile.png');
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.hero-area .content-wrapper {
  width: 80%;
  flex-direction: column;
  color: #cac8ba;
}

.hero-area h1 {
  margin: 30px 0 0 10px;
  color: #f28454;
}

.hero-area #parenthesis {
  margin: 0;
}

.hero-area h2 {
  margin: 300px 0 55px;
}

.hero-area mark {
  color:#011312;
  background: #4c6b62;
}

/*---About-Section---*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about h2 {
  margin: 20px 0;
}

.about img {
  margin: 20px 0;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #cac8ba;
}

.my-description span {
  font-weight: 700;
}

/*---Portfolio-Section---*/

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .projects-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    width: 100%;
    background: url('../img/sunset.png') ;
    background-size: cover;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-card {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: #080505;*/
    border: 1px solid rgba(238, 236, 214, 0.116);
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(56 51 51 / 90%);
    border-radius: 4px;
    margin: 40px; 
  }

  .project-card img {
    width: 100%;
    border-radius: 5px;
  }

.projects p {
  margin: 10px;
  padding: 0;
}

.project-card h3 {
  color: #FED766;
  margin: 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles goes here*/
  /*--------------------General - Styles -----------------------*/
  h1 {
    font-size: 3.55em;
    line-height: 1.1;
  }
  
  h2 {
    font-size: 2.5em;
    line-height: 1.2;
  }
  
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  p {
    font-size: 1.04em;
  }

  .content-wrapper {
    max-width: 75%;
    margin: 50px 0;
  }

  /* Header - Styles*/
  header {
  min-height: 90px;
  }

/* Hero - Styles */
.hero-area {
  min-height: 840px;
  background-image:url('../img/hero-tablet.png');
}

.hero-area h1 {
  margin: 0 20px;
}

.hero-area h2 {
  margin: 450px 0 15px;
}

/* Footer styles*/

footer .content-wrapper {
  width: 65%;
  margin: 50px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

footer .contact {
  margin-bottom: 0;
}

footer h4 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

footer p {
  line-height: 1.185;
}

footer .social-icons {
  
  width: 12.5em;
  justify-content: space-between;
}

footer .copyright {
    width: 100%;
}

footer .copyright p {
  font-size: .9em;
}

/*Projects - styles*/ 
.projects {
  /*flex-direction: row;
  justify-content: space-evenly;*/
}

.gallery {
  width: 85%;
  flex-direction: row;
}
.project-card {
  
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #080505;
  border: 1px solid rgba(238, 236, 214, 0.116);
  padding: 15px;
  /*box-shadow: 5px 5px 5px rgb(56 51 51 / 90%);
  border-radius: 4px;
  margin-bottom: 40px;*/
  justify-content: sp;
}

/*About-me - styles*/ 
.about .content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.about img {
  width: 50%;
}


}






@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

