/***** BASE STYLES *****/
body {
    font-family:'Roboto';
    color: #4C6B62;
}

main h2 { 
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 30px;
}

#about h2, footer h2 {
    color: #cac8ba;  
}
    
/***** GRID *****/

.full-width {
    width: 1200px;
    margin:  0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/***** HEADER SECTION *****/

header {
    height: 800px;
    background: url('../img/hero-image.png');
    background-size: cover;
    background-position: center;
    color: #cac8ba;
    font-weight: 700;
}

nav {
    float: right;
    padding: 20px 150px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #cac8ba;
    font-weight: 700;
    font-family: 'Roboto';
    text-decoration:none;
    font-size: 30px;
    padding-left: 140px;
}

.presentation {
   float: right;
    width: 800px;
    text-align: right;
    clear: both;
    padding-top: 220px; 
    padding-right:150px; 
}

header h1 {
    font-family: 'Lato';
    font-size: 65px;
    font-weight: 700;
    line-height:35px; 
    margin:0 auto; 
}

header h2 {
    font-size: 38px;
    font-weight: 100;
    margin:0 auto; 
}

.presentation mark {
    font-size: 30px;
    color:#011312;
    background: #4c6b62;
}
	
/***** PORTFOLIO SECTION *****/

#portfolio   h3 {
    text-align: left;
}

#portfolio .full-width{
    padding: 40px 0;
}

/***** ABOUT SECTION *****/
#about {
    padding: 100px;
    background: #4c6b62;
    background-size: cover;
    background-position: center; 
}

#about h2 {
    padding-top: 0;
}

#my_description {
    background: #4c6b62;
    color: #cac8ba;
    line-height: 30px;
}

#my_description span {
    font-weight: 700;
}

/***** FOOTER SECTION *****/

#contact {
    padding:50px 0 0;
    background: #011312;;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

#contact .full-width {
    padding: 0;
    margin: 50px auto 0;  
}

#contact  h3, #contact  h4, #email a, #contact p  {
    color: #cac8ba;
}

#contact .third-width h3 {
    font-size: 24px ;
    line-height: 32px;
    width: 190px ;
    margin: 30px auto;
    padding-left: 30px;
}

#email a {
    text-decoration:none;
    font-size: 20px;
    padding-left: 50px; 
}

#my_network  ul {
    list-style: none;
}

#my_network  ul li {
     display: inline-block;
}

#my_network  ul img {
    padding-right: 48px;
}

#meet_me p {
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px 30px;
    margin: 0;
}

#meet_me img {
    padding-left: 140px;  
}

#contact h4 {
    clear: both;
    text-align: center;
    margin: 90px auto 0;
}


